.gitlab-commit-sha {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 0.1em 0.4em;
    font-size: 90%;
    font-weight: 400;
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 0.2em;
  }