<footer id="footer">
Made using <a href="https://gohugo.io">Hugo</a> || Generative AI, LLMs, or image generators are not used to create any content on this site.</a>

<p>All site content, except where otherwise noted, is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a></p>

{{ with .GitInfo }}
<p>Page revision <a href="https://gitlab.com/Tea23/davison.tech/-/commit/{{ .Hash }}">{{ .AbbreviatedHash }}</a></p>
{{ end }}

</footer>
